<head>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
function login(){
	url = makeUrl()+'/login';
	$.ajax( url, { 
		method: "POST",
		data: {username: "a@b", password: "c" }
	})
	.done(function( data ) {
		alert( "Login Sucessfull" );
	})
	.fail(function(data) {
		alert( "error" );
	});
}

function cards(){
	url = makeUrl()+'/api/cards';
	$.ajax(url, {
		accepts: {
			json: 'application/json'
		}})
	.done(function( data ) {
		alert( "OK: "+data );
	})
	.fail(function(data) {
		alert( "error retrieving cars" );
	});
}
function makeUrl(){
	url = id('url').value;
	if(url.length == 0)
		url = 'http://dev.domain.local:8080';
	ctx = id('ctx').value;
	if(ctx.length == 0)
		ctx = '/spring-security-rest'
	return url+ctx;
}

function id(ID){
	return document.getElementById(ID);
}
</script>
</head>
<body>
URL:<input type=text id=url>
PATH:<input type=text id=ctx>
<br>
<input type=button value="login" onclick="login()"/><br>
<input type=button value="cards" onclick="cards()"/><br>
<input type=button value="wallet" onclick="showwallet()"/><br>
<input type=button value="Add Card" onclick="document.getElementById('add-card-div').display=block;"/><br>
<div id='add-card-div' style="display:none">
	Number:<input type=text id="number"><br>
	Print Name:<input type=text id="name"><br>
	Due Day:<input type=text id="due_day"><br>
	Good Thru (MM/YY):<input type=text id="goodthru"><br>
	Limit:<input type=text id="limit"><br>
	CVV:<input type=text id="cvv"><br>
	<input type=button value="Create Card" onclick="addCard()"><br>
</div>












